
<h3>the online soap destination</h3>
<section class="random-carousel">
  <div class="carousel slide" data-interval="false">
    <ol class="carousel-indicators">
      <li data-slide-to="0" class="active"></li>
      <li data-slide-to="1"></li>
      <li data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <% @products.each_with_index do |product, i| %>
        <div class="<%= i > 0 ? 'carousel-item' : 'carousel-item active' %>">
        <%= link_to image_tag(product.photo_url, alt:"alt-text"), product_path(product) %>
        </div>
      <% end %>
    </div>
    
    <a class="carousel-control-prev" href="#" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>

    <a class="carousel-control-next" href="#" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>

<section class="highlight">
  
</section>
