<h1>Shopping cart</h1>

<% if @cart.orderitems.any? %>
  <% @cart.orderitems.each do |item| %>
    <%= image_tag(item.product.photo_url, alt:"#{item.product.name}") %>
    <%= item.quantity %>
    <%= link_to "#{ item.product.name.capitalize }", product_path(item.product) %>
    <%= link_to "Delete item", orderitem_path(item), method: :delete %><br><br>
  <% end %>
<% else %>
  Your shopping cart is empty.
<% end %>
