<section class="heading">
<h1>Merchants</h1> 
</section>
<table class="table table-hover table-sm" id="merchant_index">
<thead>
<tr>
<th> ICONS </th>
<th> UID</th>
<th> USERNAME </th>
<th> EMAIL </th>
<th> ACTIVE PRODUCTS </th>
<th> GROSS SALES </th>
</tr>
</thead>
  <% @merchants.each do |merchant|  %>
  <tr>
    <td></td>
    <td><%= link_to merchant.uid, merchant_path(merchant.id) %></td>
    <td><%= link_to merchant.username, merchant_path(merchant.id) %></td>
    <td><%= mail_to merchant.email, merchant.email %></td>
    <td><%= merchant.active_products.to_s.first %></td>
    <td>$ 0.00</td>
  </tr>
  <% end %>
</table>
