// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h3 {
  margin-top: 5rem;
  text-align: center;
  color: #FE5F55;
  font-size: 2rem;
}


a {
  color: white;
}

a:hover {
  color: #FE5F55;
}

.badge {
  background-color:#7A9E9F;
  border-color: #7A9E9F;
  margin: .2rem;
}

.badge:hover {
  background-color: #4F6367;
  border-color: #4F6367;
}

#add-btn {
  margin-top: 10rem;
}