// Place all the styles related to the Homepages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.applicaton-container {
  display: grid;
  grid-template-columns: 500px auto 500px;
  grid-template-rows: 400px auto;
}

h2, h3 {
  text-align: center;
}

.carousel{
  max-width: 100%;
}

.carousel-item img{
  max-width: auto;
}