<div class="new-category-form">
    <%= form_for @category do |f| %>
      <div class="form-group">
        <div class="form-row">
          <%= f.label :name %> 
          <%= f.text_field :name, class:"form-control"%>
        </div>
        <div class="form-button">
          <%= f.submit "Create", method: :post, class:"btn, btn-primary" %>
        </div>
      </div>
    <% end %>
</div>

