<div class="new-form">
 
    <%= form_for @category do |f| %>
      <div class="form-group">
        <div class="form-row">
          <%= f.label :name, class:"Product Name" %> 
          <%= f.text_field :name, class:"form-control"%>
        </div>
      </div>
      <%= f.submit "Create", method: :post, class:"btn, btn-primary" %>
    <% end %>
</div>

