<section class="categories-header">
  <h3>All Categories</h3>
</section>
<section class="products-list">
<% @categories.each do |category| %>
  <p class="badge badge-light"><%= link_to "#{category.name.titleize}", category_path(category.id) %></p>
<% end %>
</section>

<%= link_to "Add a Category", new_category_path, class:"btn btn-primary", id: "add-btn" %>
