
  <section class="categories-header">
    <h3>All Categories</h3>
  </section>

<section class="categories-container">
  <section class="categories-list">
    <% @categories.each do |category| %>
      <%= link_to "#{category.name.titleize}", category_path(category.id), class:"btn btn-primary" %>
    <% end %>
  </section>
</section>
<section class="add-category">
  <% if @current_user %>
    <%= link_to "Add a Category", new_category_path, class:"btn btn-primary submit" %>
  <% end %>
</section>