<section class="product-page-container">
  <h2>Category: <%= @category.name.titleize %></h2>
</section>

<section class="products-list">
  <% @category.products.each do |product| %>
    <ul>
      <li><%= image_tag(product.photo_url, alt:"#{product.name}") %></li>
      <li><%= link_to "#{product.name.titleize}", product_path(product.id) %></li>
      <li> This is where we put the ***</li>
    </ul>
  <% end %>
</section>

      
<%= link_to "All Categories", categories_path %>
